:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(53, 53, 53, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-mainrouter {
  padding: 2rem;
  min-height: 30rem;
}

a {
  font-weight: 500;
  color: #ff4747;
  text-decoration: inherit;
}
a:hover {
  color: #dfbfbf;
  transition: 0.2s;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.homepage-img {
  width: 100%;
  height: auto;
}

h1 {
  display: none;
}

h2 {
  color: #ff4747;
}

h3 {
  color: #ff4747;
}

.h1-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.header-logo {
  height: auto;
  max-height: 40px;
  aspect-ratio: 1/1;
}

.website-name {
  line-height: 1;
  font-size: 30px;
}

.nav-header-container {
  display: flex;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ff4747;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #ffbcbc;
  color: #ff4747;
  transition: 0.2s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #472121;
    background-color: #ffffff;
  }
  a:hover {
    color: #ff7474;
  }
  button {
    background-color: #f9f9f9;
  }
}

.topnav {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: fit-content;
}

.topnav a {
  color: white;
  padding: 0.75rem;
  text-decoration: none;
}

.icon {
  cursor: pointer;
  align-self: flex-end;
}

#myLinks {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 999;
  background-color: #ff4747;
  display: none;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0.5px 0.5px 1.5px;
}

#myLinks.show {
  display: flex;
  flex-direction: column;
}

.nav-link {
  border-bottom: 0.75px solid #111111;
}

.nav-link:last-child {
  border-bottom: none;
}

.nav-link:hover {
  background-color: #fff2f2;
  color: #ff4747;
}

.nav-link.active {
  background-color: #fff2f2;
  font-weight: bold;
}

/*articles*/

.articles-page {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.article-queries {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.3rem;
  text-align: left;
}

.article-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.article-topic-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.article-topic-button {
  padding: 0.2rem;
  border-radius: 5px;
}

.article-list {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.article-card {
  text-align: left;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ff4747;
  padding: 0.2rem;
  width: 100%;
}

.article-title-link {
  width: fit-content;
}

.article-title-link h3:hover {
  color: #dfbfbf;
}

.article-card h3 {
  font-size: 14px;
  margin-left: 0rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.article-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.article-info {
  font-size: 11px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.article-img {
  height: 40px;
  width: auto;
}

.article-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.article-button {
  cursor: pointer;
  font-size: small;
}

.vote-button {
  cursor: pointer;
  font-size: 10px;
  width: 3rem;
}

/*single article*/

.single-article-title-author {
  text-align: left;
}

.single-article-metadata {
  font-size: 12px;
}

.single-article-img {
  width: 100%;
  text-align: center;
}

.single-article-body {
  text-align: left;
}

.comments-container {
  text-align: left;
  border-top: 1px solid #ff4747;
}

.comment-title-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.comment-count {
  font-weight: 600;
  color: white;
  background-color: rgb(255, 99, 99);
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 25px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  resize: vertical;
  width: auto;
  gap: 1rem;
}

.success-msg {
  color: rgb(146, 146, 146);
}

.error-msg {
  color: red;
}

.comment-form textarea {
  min-height: 6rem;
  background-color: #f2f2f2;
  border: 1px solid #c8c8c8;
  border-radius: 7px;
  color: #191919;
}

.comment-logged-in-as {
  color: #ff4747;
}

.comments-list {
  list-style: none;
  padding-inline-start: 0;
}

.comment-list-item {
  border-bottom: 1px solid #d2d2d2;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-delete-button {
  background-color: #e8e8e8;
  color: rgba(53, 53, 53, 0.87);
  padding: 0.5rem;
  margin-top: 0.5rem;
  height: 2.5rem;
}

/*Topics page*/

.topics-page {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 4rem;
}

.topic-card h3:hover {
  color: #ffbcbc;
}

.topic-img {
  width: 100%;
  border-radius: 30px;
  max-width: 20rem;
}

/*Error not found page*/
.error-not-found-page {
  padding-top: 5rem;
}

footer {
  background-color: #ff4747;
  margin: 0;
  padding: 7rem;
  color: white;
  position: relative;
  bottom: 0;
}

@media (min-width: 640px) {
  h1 {
    font-size: 2.25rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: left;
    display: flex;
    margin: 0;
  }

  .h1-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .header-logo {
    max-height: 90px;
  }

  .topnav {
    display: flex;
    flex-direction: row;
  }

  #myLinks.show {
    display: flex;
    flex-direction: column;
  }

  /*articles-page*/
  .articles-page {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .article-info {
    font-size: 14px;
  }

  /*single-article*/
  .single-article-page {
    padding-left: auto;
    padding-right: auto;
  }
  .single-article-img {
    width: 100%;
  }

  /*topics page*/
  .topics-page {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 1100px) {
  .single-article-page {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
