:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.topnav {
  display: flex;
  flex-direction: column;
  background-color: #333;
}

.topnav a {
  color: white;
  padding: 0.75rem;
  text-decoration: none;
}

.topnav .active {
  font-weight: bold;
  color: #f44336;
}

.icon {
  cursor: pointer;
  align-self: flex-end;
}

#myLinks.hide {
  display: none;
}

#myLinks.show {
  display: flex;
  flex-direction: column;
}

/*articles*/

.articles-page {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.article-list {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.article-card {
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding: 0.2rem;
  width: 100%;
}

.article-info {
  font-size: 11px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.article-card h3 {
  font-size: 14px;
  margin: 0.5rem;
}

.article-img {
  height: 40px;
  width: auto;
}

@media (min-width: 640px) {
  .topnav {
    display: flex;
    flex-direction: row;
  }

  #myLinks.show {
    display: flex;
    flex-direction: column;
  }

  .article-info {
    font-size: 14px;
  }
}
